/* Custom Styles */

body {
    font-family: "Helvetica", Times, Serif;
}

a {
    text-decoration: none;
}

.footer .container {
    max-width: 100%;
    padding-top: 20px;
}

.middle {
    padding-top: 70px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}

.showcase {
    height: auto;
    width: 100%;
}


/* Footer */

.footer {
    background-color: #222;
    border-color: #080808;
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    color: $gray-light;
}

footer a {
    color: #777;
    line-height: normal;
}

footer a:hover {
    color: $gray-darker;
}

footer small {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15px;
}


/* Header */

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #777;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    text-decoration: none;
    line-height: normal;
}

#logo:hover {
    text-decoration: none;
}

button.navbar-toggle.collapsed {
    border: none;
}


/* Class for elements that need to be full width*/

.full-width {
    width: 100%;
}

.course-listing {
    min-height: 300px;
}

.course-area {
    width: 100%;
}


/* Styling for About page */

#tagLine {
    color: white;
    text-shadow: 1px 2px #888;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    #profilePic {
        position: absolute;
        left: -40%;
        border: 2px solid black;
    }
}

@media (min-width: 992px) {
    .aboutBody {
        background: url('../images/code_background.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-color: rgb(29, 31, 33);
    }
}

@media (max-width: 992px) {
    .aboutBody {
        background-color: rgb(29, 31, 33);
    }
}

@media (max-width: 768px) {
    #profilePic {
        position: relative;
        border: 1px solid black;
    }
    .profilePic {
        margin-bottom: 10px;
    }
    .aboutBody {
        background-color: rgb(29, 31, 33);
    }
}


/* Styles found at Stackoverflow:
http://stackoverflow.com/questions/12445347/css-partial-border-to-create-place-holder
*/

#box {
    margin: 30px;
    position: relative;
}

#box > div.corner {
    display: block;
    position: absolute;
    width: 30px;
    height: 50px;
}

.top {
    top: -30px;
    border-top-style: solid;
}

.bottom {
    bottom: -30px;
    border-bottom-style: solid;
}

.left {
    left: 0px;
    border-left-style: solid;
}

.right {
    right: 0px;
    border-right-style: solid;
}


/* End Stackoverflow styles */
